#--------------------------------
#   API ENVIRONMENT VARIABLES
#--------------------------------

# Application
NODE_ENVIRONMENT=production # local or production
APP_PORT=5001
APP_KEY=please-change-me-8Y5kkIctx0JMRDU # replace with a randomly generated key
ENABLE_RATE_LIMITING=false # set to true in production
DONT_SEND_EMAIL=false # set to true in if you don't have your Brevo email credentials ready
FRONTEND_LOCAL_URL=http://localhost:5173
FRONTEND_PRODUCTION_URL=http://localhost:8010

# Email
EMAIL_SENDER_NAME=Futureself
BREVO_API_ENDPOINT='https://api.brevo.com/v3/smtp/email'
## Replace EMAIL_SENDER_EMAIL and BREVO_API_KEY with your Brevo credentials.
## The server can run without them but won't be able to send emails 
EMAIL_SENDER_EMAIL= # Obtain from https://app.brevo.com/senders/list
BREVO_API_KEY= # Obtain from https://app.brevo.com/settings/keys/api

# Redis
# By default, the server uses the local Redis instance spun up by the container
# Replace REDIS_HOST, REDIS_PORT, REDIS_USER, REDIS_PASSWORD with your Redis credentials if your Redis instance is hosted elsewhere
REDIS_HOST=futureself-redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=please-change-me-GWLq7kqLcWhEkVoZ

# Database
# By default, the server uses the local Postgres instance spun up by the container
# Replace POSTGRES_USER, POSTGRES_PASSWORD, POSTGRES_DB, POSTGRES_HOST, POSTGRES_PORT if your Postgres DB is hosted elsewhere
POSTGRES_USER=root
POSTGRES_PASSWORD=please-change-me-M2ncjemKrtsVBrTuho
POSTGRES_DB=futureself
POSTGRES_HOST=futureself-postgres
POSTGRES_PORT=5432
ENABLE_DATABASE_SSL=false # Change to true if you are not using the local Postgres instance spun up by the container

#--------------------------------
#   WEB ENVIRONMENT VARIABLES
#--------------------------------
VITE_NODE_ENVIRONMENT=production
VITE_LOCAL_API_URL=http://localhost:5001
VITE_PRODUCTION_API_URL=http://localhost:5010